<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
  <h5 class="text-center text-white mt-5">Upps, something went terribly wrong!</h5>
  <h5 class="text-center text-white mt-5">We are veeeery sorry and we are working to resolve the problem.</h5>
  <img th:src="@{/images/Smiles.png}" alt="Smiles">
</div>

<div>
  <footer> </footer>
</div>
</body>
</html>