<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}">
</head>

<body>

<div>
    <header th:replace="~{fragments/commons::navigation}">
    </header>
</div>


<div class="container-fluid">

        <h5 class="text-center text-white mt-5"> Welcome to MobiLeLeLe,
            <th:block th:if="${@currentUser.id == null}" th:text="Anonimos"></th:block>
    <th:block th:unless="${@currentUser.id == null}" th:text="${@currentUser.getUsername()}"></th:block>
    </h5>

</div>



</body>

<footer th:replace="~{fragments/commons::footer}">
</footer>
</html>
